* {
    /* border: 1px solid red; */
}

nav {
    background-color: white;
}

h1 {
    color: red;
}

.navbar-brand img {
    width: 100%;
    max-width: 80px;
}

.nav-link svg {
    color: black;
    width: 2em;
}



.job-title {
    background-color: rgb(117, 117, 117, 0.2);
    border-radius: 25px;
}

.job-title h5 {
    color: rgba(0, 0, 0, 1);

}

.inicio-sesion {
    border: 1px solid grey;
    border-radius: 25px;

}

/* trabajos.html */

.trabajos-cartas .card {
    max-width: 100%;
}