* {
    border: 1px solid red;
}

nav {
    background-color: white;
}

h1 {
    color: red;
}

.navbar-brand img{
    width: 100%;
    max-width: 80px;
}

.nav-link svg {
    color: black;
    width: 2em;
}

.job-title {
    background-color: grey;
    opacity: 0.2;
    border-radius: 25px;
}

.job-title > *{
    color: black;
    opacity: 1;
}

.inicio-sesion {
    border: 1px solid grey;
    border-radius: 25px;

}

