* {
  /* border: 1px solid red; */
}

/* paleta de colores
#e9b796	(233,183,150)
#a06561	(160,101,97)
#ed4e4a	(237,78,74)
#862922	(134,41,34)
#ade1ee	(173,225,238) 
*/

.tc {
  background-color: aqua;
  border: 1px solid black;
  height: 10px;
}

/* Navbar */
.logo-marca-auto {
  width: 55px;
  height: 55px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.215);
  box-shadow: 0px 2px 5px #862922a8;
}
.navbar-brand img {
  max-width: 120px;
}
.logo-header {
  width: auto;
  height: auto;
}

nav {
  background-color: white;
}

h1 {
  color: red;
}

.navbar-brand img {
  width: 100%;
  max-width: 80px;
}

.nav-link svg {
  color: black;
  width: 2em;
}



.inicio-sesion {
  border: 1px solid grey;
  border-radius: 25px;
}


.servicio-card{
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px;
  }

.servicio-card h1{
  font-size: 1.5em;
  color: blue;
}

.servicio-card p{
    font-size: 1em;
  }

/* trabajos.html */

.trabajos-cartas .card {
  max-width: 100%;
}

/* trabajo-x.html */
.trabajo-header h1 {
  text-align: center;
  color: blue;
  text-wrap: wrap;
}
.trabajo-header svg {
  max-width: 30px;
}
.trabajo-header img {
  max-width: 100%;
  margin: auto;
}

/* productos.html */

.producto-card .card {
  max-width: 100%;
}

/* contacto.html */
.contacto-detalle svg {
    max-width: 30px;
    margin-right: 5px;
}
