* {
  /* border: 1px solid red; */
}

/* paleta de colores
#e9b796	(233,183,150)
#a06561	(160,101,97)
#ed4e4a	(237,78,74)
#862922	(134,41,34)
#ade1ee	(173,225,238) 
*/

/* Estilo para la barra de navegación */
.navbar {
  background-color: #ffffff;
  transition: background-color 0.5s ease;
}

.navbar:hover {
  background-color: #ffd900;
}

/* Estilo para los enlaces de navegación */
.nav-link {
  color: #000000;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: #ff0000;
}

/* Estilo para los elementos a la derecha */
.r-elements img {
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease;
}

.r-elements img:hover {
  transform: scale(1.2);
}

/* Estilo para el contador del carrito */
#contadorCarrito {
  display: none;
  position: absolute;
  right: 12px;
  top: 29px;
  text-align: center;
  font-weight: bold;
  font-size: small;
  width: 26px;
  height: 23px;
  padding: 0;
  color: #ed4e4a;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}


.tc {
  background-color: aqua;
  border: 1px solid black;
  height: 10px;
}

.r-elements img {
  width: 40px;
  color: black;
}

/* Navbar */
.logo-marca-auto {
  width: 55px;
  height: 55px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.215);
  box-shadow: 0px 2px 5px #862922a8;
}
.navbar-brand img {
  max-width: 120px;
}
.logo-header {
  width: auto;
  height: auto;
}

nav {
  background-color: white;
}

h1 {
  color: #862922;
  text-align: center;
}

.navbar-brand img {
  width: 100%;
  max-width: 80px;
}

.nav-link svg {
  color: black;
  width: 2em;
}

.inicio-sesion {
  border: 1px solid grey;
  border-radius: 25px;
}

/* trabajos.html */

.trabajos-cartas .card {
  max-width: 100%;
}

/* trabajo-x.html */
.trabajo-header h1 {
  text-align: center;
  color: blue;
  text-wrap: wrap;
}
.trabajo-header svg {
  max-width: 30px;
}
.trabajo-header img {
  max-width: 100%;
  margin: auto;
}

/* productos.html */

.producto-card .card {
  max-width: 100%;
}

/* contacto.html */
.contacto-detalle svg {
  max-width: 30px;
  margin-right: 5px;
}
